.masthead-search
{
	float: right;
}
.masthead-search div
{
    margin: 12px 0;
}
.masthead-search input.masthead-search-bar 
{
	font-family: Arial, Helvetica;
	border: none;
	padding: 0 30px 0 10px;
	float: left;
	width: 180px;
	height: 30px;
}
:focus
{
	outline: 0px;
}
.masthead-search-button
{
	font-size: 0;
	width: 18px;
	height: 18px;
	margin: 6px 0 0 -24px;
	float: left;
	color: transparent;
	border: 0px none;
	text-align: right;
	text-indent: -999em;
	cursor: pointer;	
}
