@charset "UTF-8";

#nav,
#nav ul,
#nav li,
#nav a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
}
#nav {
    line-height: 25px;
    background: #ffffff;
    height: 100%;
    width: 210px;
    float: left;
    overflow-y: auto;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial;
}

#nav.collapsed {
    width: 80px;
    text-align: center;
}

#nav > ul > li {
    background: #ffffff;
    border-bottom: 1px solid #f5f5f5;
}
#nav.collapsed > ul > li {
    background: #ffffff;
}
#nav > ul > li:hover {
    color: #3E76C0;
    font-weight: bold;
    background-color: #F2F7F7;
}

#nav > ul > li > a:hover {
    font-weight: bold;
    color: #3E76C0;
}
#nav > ul > li > a > span {
    display: block;
    padding: 8px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/*#nav.collapsed > ul > li > a > span {
    text-align: center;
}*/
#nav > ul > li > a:hover {
    text-decoration: none;
}
#nav > ul > li.active {
    border-bottom: none;
}

#nav > ul > li.active > a {
    font-weight: bold;
    background: #EBF1F8;
    border-left: 3px solid #3E76C0;
}

#nav > ul > li > a {
    font-size: 13px;
    display: block;
    color: #191919;
    border-top: none;
    cursor: pointer;
    border-left: 3px solid #F1F7F7;
}

#nav > ul > li.has-sub > a span {
    background: url(../../../../../../images/navbar/icons/arrowExpend.svg) 93% center/12px no-repeat;
}
#nav > ul > li.has-sub.active > a span {
    background: url(../../../../../../images/navbar/icons/arrowCollapse.svg) 93% center/12px no-repeat;
    color: #3E76C0;
}

#nav.collapsed > ul > li.has-sub > a span {
    background: none;
}
#nav.collapsed > ul > li.has-sub:hover > ul {
    display: block;
    width: 170px;
    position: absolute;
    margin: -63px 0 0 80px;
    text-align: left;
    z-index: 2;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.30);
}
/* Sub menu */
#nav ul ul {
    display: none;
    padding: 10px 0;
    background: #ffffff;
}
#nav.collapsed ul ul {
    padding: 0;
}
#nav.collapsed ul ul li {
    background: #ffffff;
}
#nav ul ul a {
    padding: 5px 0;
    display: block;
    color: #191919;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
}

#nav ul ul a:hover, #nav ul ul a.active {
    color: #3E76C0;
    font-weight: bold;
    background-color: #F2F7F7;
}

#nav.collapsed ul ul a.active {
    background-color: #e6e6e6;
}

#nav > ul img {
    vertical-align: middle;
    margin: 0 13px;
}

#nav.collapsed > ul img {
    margin: 0 20px;
}

#nav > ul ul img {
    vertical-align: middle;
    margin: 0 10px 0 50px;
    width: 18px;
    height: 18px;
}
#nav.collapsed > ul ul img {
    margin: 0 13px;
}
