
.suite-type-selection-container{
    float: left;
    font-size: 14px;
    font-weight: normal;
    margin-top: 4px;
    height: 28px;
    width: calc(100% - 50px);
}

.suite-type-title{
    float: left;
    font-size: 14px;
    font-weight: normal;
    margin-top: 4px;
    height: 28px;
    width:50px;
}
